<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Dao接口路径 -->
<mapper namespace="com.myfund.saveplan.dao.RankDao">

    <resultMap id="BasePubFund" type="com.myfund.saveplan.pojo.PubFund">
        <id column="FundCode" jdbcType="CHAR" property="fundcode"/>
        <id column="DealDate" jdbcType="TIMESTAMP" property="dealdate"/>
        <!--<result column="id" jdbcType="INTEGER" property="id"/>-->
        <result column="FundName" jdbcType="VARCHAR" property="fundname"/>
        <result column="UnitEquity" jdbcType="DECIMAL" property="unitequity"/>
        <!--<result column="TotalEquity" jdbcType="DECIMAL" property="totalequity"/>-->
        <!--<result column="Equity" jdbcType="DECIMAL" property="equity"/>-->
        <!--<result column="DayYield" jdbcType="DECIMAL" property="dayyield"/>-->
        <!--<result column="Profit" jdbcType="DECIMAL" property="profit"/>-->
        <!--<result column="DayBenefit" jdbcType="DECIMAL" property="daybenefit"/>-->
        <!--<result column="WeekBenefit" jdbcType="DECIMAL" property="weekbenefit"/>-->
        <!--<result column="AdjustRatio" jdbcType="DECIMAL" property="adjustratio"/>-->
        <!--<result column="CheckBenefit" jdbcType="DECIMAL" property="checkbenefit"/>-->
        <!--<result column="FuQuanUnitEquity" jdbcType="DOUBLE" property="fuquanunitequity"/>-->
        <!--<result column="LatestWeeklyYield" jdbcType="DECIMAL" property="latestweeklyyield"/>-->
        <!--<result column="DailyProfit" jdbcType="DECIMAL" property="dailyprofit"/>-->
        <!--<result column="LineChart" jdbcType="DOUBLE" property="linechart"/>-->
    </resultMap>


    <select id="getRankInfo" resultType="hashmap">
        select p1.FundCode, p1.FundName, p2.maxdate, p1.UnitEquity
        from [PrimaryData_New].[dbo].[PUB_FUND] p1,
             (
                 select CONVERT(varchar(100), MAX(DealDate), 23) maxdate, FundCode
                 from [PrimaryData_New].[dbo].[PUB_FUND]
                 group by FundCode
             ) p2
        where p1.FundCode = p2.FundCode
          and p1.DealDate = p2.maxdate
          and p1.FundCode != '000000'
        order by p1.FundCode
    </select>


    <select id="selectFeerate" resultType="hashmap">
        select c.FUNDCODE, c.FEERATE
        from (select b.fundcode, max(a.feerate) feerate
              from CFG_FEEDETAIL a
                       INNER JOIN CFG_FEEZONE b on a.feeno = b.feeno
              where a.feeno in (select feeno from CFG_FEEZONE where FEEPOLICY = '3' and businesscode = '22')
                and a.feepolicy = 1
              group by b.fundcode) c
        order by c.FUNDCODE
    </select>

    <!-- 过去一年的每月收益 -->
    <select id="selectLast1YearProfit" resultType="hashmap" parameterType="string">
        select DealDate, FundCode, UnitEquity
        from [PrimaryData_New].[dbo].[PUB_FUND]
        where FundCode = #{fundcode}
          and DealDate >= dateadd(year,-1,CONVERT(varchar(100), getdate(), 23))-1
        order by DealDate
    </select>


    <!--<insert id="addFeerate" parameterType="Paper">-->
    <!--INSERT INTO paper(paper_id, name, number, detail-->
    <!--)-->
    <!--VALUES (#{paperId}, #{paperName}, #{paperNum}, #{paperDetail})-->
    <!--</insert>-->
</mapper>